<a href="https://colab.research.google.com/github/rahul-8437008949/18103112_rahul/blob/main/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from numpy import random
import pandas as pd

In [2]:
f1 = np.array([pd.Series(random.randint(low=150,size=100)).astype(float)])
f2 = np.array([pd.Series(random.permutation(np.linspace(20000,28000,100)))])
f3 = np.array([pd.Series(np.arange(2000,2470,4.7))])
index_nan = np.random.choice(f1.size, 6, replace=False)
index_nan3 = np.random.choice(f3.size, 8, replace=False)
f1=f1.flatten()
f2=f2.flatten()
f3=f3.flatten()

f1.ravel()[index_nan] = np.nan
f3.ravel()[index_nan3] = np.nan
f4 = np.array([pd.Series(random.randint(low=10,size=100))])
f4=f4.flatten()
print("null values of f1: " ,index_nan)
print("null values of f3: " ,index_nan3)
#f1 random int in range of 100s 
#f2 in range of 20000s
#f3 in range of 2000s
#f4  in range less than 10
#feature 1 and feature 3 has na values

null values of f1:  [73 49  6 39  8 81]
null values of f3:  [26  6 63 48  5 75 55 78]

In [3]:
Categoryvalues = ['M','N','O','P']

Categories = []
for i in range(100):
    Categories.append(Categoryvalues[i%4])
Categories = pd.Series(Categories)
mcount=Categories[Categories=='M'].count()
ncount=Categories[Categories=='N'].count()
ocount=Categories[Categories=='O'].count()
pcount=Categories[Categories=='P'].count()
# these contain count of different values
print(Categories)

0     M
1     N
2     O
3     P
4     M
     ..
95    P
96    M
97    N
98    O
99    P
Length: 100, dtype: object

In [4]:
df = pd.DataFrame({'Feature1':pd.Series(f1),'Feature2':f2,'Feature3':f3,'Feature4':f4})
df

    Feature1      Feature2  Feature3  Feature4
0       83.0  22343.434343    2000.0         7
1      137.0  24525.252525    2004.7         1
2       17.0  22424.242424    2009.4         7
3       97.0  20484.848485    2014.1         3
4       96.0  23313.131313    2018.8         0
..       ...           ...       ...       ...
95      91.0  24444.444444    2446.5         0
96     106.0  20727.272727    2451.2         1
97     131.0  25656.565657    2455.9         2
98      25.0  22989.898990    2460.6         6
99      94.0  26868.686869    2465.3         5

[100 rows x 4 columns]

In [5]:
df['Feature1'] = np.random.permutation(df['Feature1'].values)
df['Feature2'] = np.random.permutation(df['Feature2'].values)
df['Feature3'] = np.random.permutation(df['Feature3'].values)
df['Feature4'] = np.random.permutation(df['Feature4'].values)
Categories= np.random.permutation(Categories)

In [6]:
df

    Feature1      Feature2  Feature3  Feature4
0       96.0  26787.878788    2460.6         0
1      127.0  20000.000000    2098.7         0
2       79.0  23717.171717    2169.2         7
3      130.0  23232.323232    2126.9         9
4       25.0  22747.474747    2018.8         2
..       ...           ...       ...       ...
95      71.0  20242.424242       NaN         4
96      28.0  26222.222222    2183.3         9
97      28.0  20404.040404    2136.3         6
98      39.0  22181.818182    2079.9         4
99      73.0  21535.353535    2380.7         4

[100 rows x 4 columns]

In [7]:
for i in range(1,5):
    df[f'Feature{i}'] = (df[f'Feature{i}']-np.mean(df[f'Feature{i}'],axis=0))/np.std(df[f'Feature{i}'],axis=0)
df
#Standardisation((x-x.mean)/standard deviation)

    Feature1  Feature2  Feature3  Feature4
0   0.498729  1.195175  1.659206 -1.533189
1   1.266451 -1.714816 -0.998826 -1.533189
2   0.077721 -0.121250 -0.481027  0.830759
3   1.340747 -0.329106 -0.791706  1.506172
4  -1.259601 -0.536963 -1.585664 -0.857775
..       ...       ...       ...       ...
95 -0.120401 -1.610888       NaN -0.182362
96 -1.185305  0.952676 -0.377468  1.506172
97 -1.185305 -1.541602 -0.722667  0.493052
98 -0.912888 -0.779462 -1.136905 -0.182362
99 -0.070871 -1.056604  1.072368 -0.182362

[100 rows x 4 columns]

In [8]:
df['Output'] = Categories

In [9]:
df

    Feature1  Feature2  Feature3  Feature4 Output
0   0.498729  1.195175  1.659206 -1.533189      O
1   1.266451 -1.714816 -0.998826 -1.533189      N
2   0.077721 -0.121250 -0.481027  0.830759      P
3   1.340747 -0.329106 -0.791706  1.506172      N
4  -1.259601 -0.536963 -1.585664 -0.857775      M
..       ...       ...       ...       ...    ...
95 -0.120401 -1.610888       NaN -0.182362      N
96 -1.185305  0.952676 -0.377468  1.506172      O
97 -1.185305 -1.541602 -0.722667  0.493052      N
98 -0.912888 -0.779462 -1.136905 -0.182362      M
99 -0.070871 -1.056604  1.072368 -0.182362      M

[100 rows x 5 columns]

In [10]:

df = df.fillna(df.mean(),axis=0)

In [11]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X
#Input data

    Feature1  Feature2      Feature3  Feature4
0   0.498729  1.195175  1.659206e+00 -1.533189
1   1.266451 -1.714816 -9.988257e-01 -1.533189
2   0.077721 -0.121250 -4.810273e-01  0.830759
3   1.340747 -0.329106 -7.917063e-01  1.506172
4  -1.259601 -0.536963 -1.585664e+00 -0.857775
..       ...       ...           ...       ...
95 -0.120401 -1.610888  9.719279e-15 -0.182362
96 -1.185305  0.952676 -3.774676e-01  1.506172
97 -1.185305 -1.541602 -7.226665e-01  0.493052
98 -0.912888 -0.779462 -1.136905e+00 -0.182362
99 -0.070871 -1.056604  1.072368e+00 -0.182362

[100 rows x 4 columns]

In [12]:
y
#Output Data

0     O
1     N
2     P
3     N
4     M
     ..
95    N
96    O
97    N
98    M
99    M
Name: Output, Length: 100, dtype: object

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=1/4,random_state=0)

In [14]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'poly', random_state = 0)
classifier.fit(X_train, y_train)

SVC(kernel='poly', random_state=0)

In [15]:
y_pred = classifier.predict(X_test)

In [16]:
print(y_pred)

['M' 'N' 'N' 'N' 'M' 'O' 'N' 'N' 'N' 'N' 'N' 'N' 'M' 'M' 'N' 'N' 'N' 'N'
 'N' 'O' 'O' 'N' 'N' 'O' 'O']

In [17]:
y_test

26    M
86    O
2     P
55    O
75    O
93    P
16    M
73    P
54    P
95    N
53    P
92    M
78    P
13    O
7     P
30    N
22    P
24    N
33    O
8     N
43    M
62    M
3     N
71    O
45    M
Name: Output, dtype: object

In [18]:
from sklearn import metrics
print(metrics.accuracy_score(y_pred,y_test)*100)

24.0